<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Caption-bae</title>
  </head>
  <body>
    <div class="main">

      <div class="main-top">

      </div>
      <div class="main-quoute">
        <h1>Hey, I just met you, this is crazy</h1>
      </div>
      <div class="main-bottom">
        <span class="qoute-number">4/120</span>
      </div>

    </div>
    <div class="detail">
      <div class="detail-section categories">

        <div class="detail-title">
          <p>Categories</p>
        </div>

        <div class="carousel">
          <a href="#">
          <div class="carousel-item">
            <div class="circle">
              <img src="https://images.unsplash.com/photo-1496337589254-7e19d01cec44?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6c94cc35814d4d4a83c8d065b442cad2&auto=format&fit=crop&w=1650&q=80">
            </div>
            <div class="font lit">
              It's lit
            </div>
          </div>
          </a>

          <div class="carousel-item">
            <div class="circle">
              <img src="https://images.unsplash.com/photo-1496337589254-7e19d01cec44?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6c94cc35814d4d4a83c8d065b442cad2&auto=format&fit=crop&w=1650&q=80">
            </div>
            <div class="font foodie">
              FOODIE<br>FOR LIFE
            </div>
          </div>

          <div class="carousel-item">
            <div class="circle">
              <img src="https://images.unsplash.com/photo-1496337589254-7e19d01cec44?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6c94cc35814d4d4a83c8d065b442cad2&auto=format&fit=crop&w=1650&q=80">
            </div>
            <div class="font lit">
              It's lit
            </div>
          </div>

          <div class="carousel-item">
            <div class="circle">
              <img src="https://images.unsplash.com/photo-1496337589254-7e19d01cec44?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6c94cc35814d4d4a83c8d065b442cad2&auto=format&fit=crop&w=1650&q=80">
            </div>
            <div class="font lit">
              It's lit
            </div>
          </div>

          <div class="carousel-item">
            <div class="circle">
              <img src="https://images.unsplash.com/photo-1496337589254-7e19d01cec44?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6c94cc35814d4d4a83c8d065b442cad2&auto=format&fit=crop&w=1650&q=80">
            </div>
            <div class="font lit">
              It's lit
            </div>
          </div>

        </div>

      </div>

      <div class="detail-section">
        <div class="detail-title">
          <p>My Captions</p>
        </div>
        <div class="captionlist">
          <ul>
            <li>Hey, I just met you, this is crazy</li>
            <li>I like foodies</li>
            <li>I woke up like this</li>
            <li>My autobiography is this</li>
            <li>Chilling like a gangster</li>
            <li>Don't be like the rest of them, darling.</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
