<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <title>Caption-bae</title>
  </head>
  <body>
    <div class="container">
      <!-- Top Portion -->
      <div class="main">

        <div class="main-top">

        </div>
        <div class="main-quoute">
          <h1>Hey, I just met you, this is crazy</h1>
        </div>
        <div class="main-bottom">
          <span class="qoute-number">4/120</span>
        </div>

      </div>

      <!-- Bottom Portion -->
      <div class="detail">
        <div class="detail-section categories">

          <div class="detail-title">
            <p>Categories</p>
          </div>

          <div class="carousel">

            <div class="carousel-item">
              <a href="#">
                <div class="category-item">
                  <div class="circle">
                    <img src="https://images.unsplash.com/photo-1496337589254-7e19d01cec44?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6c94cc35814d4d4a83c8d065b442cad2&auto=format&fit=crop&w=1650&q=80">
                  </div>
                  <div class="font lit">
                    It's lit!
                  </div>
                </div>
              </a>
            </div>

            <div class="carousel-item">
              <a href="#">
                <div class="category-item">
                  <div class="circle">
                    <img src="https://images.unsplash.com/photo-1453831362806-3d5577f014a4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9dd8da96be0724ab84e4147d428f6bba&auto=format&fit=crop&w=800&q=60">
                  </div>
                  <div class="font foodie">
                    FOODIE<br>FOR LIFE
                  </div>
                </div>
              </a>
            </div>

            <div class="carousel-item">
              <a href="#">
                <div class="category-item">
                  <div class="circle">
                    <img src="https://images.unsplash.com/photo-1494256997604-768d1f608cac?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=362a7baf8e58eab5f477b13befc0e62a&auto=format&fit=crop&w=800&q=60">
                  </div>
                  <div class="font family">
                    Family & Pets
                  </div>
                </div>
              </a>
            </div>

            <div class="carousel-item">
              <a href="#">
                <div class="category-item">
                  <div class="circle">
                    <img src="https://images.unsplash.com/photo-1509821451539-1666e7790151?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3751e94abb51d591c028130f05817700&auto=format&fit=crop&w=900&q=60">
                  </div>
                  <div class="font travel">
                    Travel
                  </div>
                </div>
              </a>
            </div>

          </div>

        </div>

        <div class="detail-section">
          <div class="detail-title">
            <p>My Captions</p>
          </div>
          <div class="captionlist">
            <ul>
              <li>Hey, I just met you, this is crazy</li>
              <li>I like foodies</li>
              <li>I woke up like this</li>
              <li>My autobiography is this</li>
              <li>Chilling like a gangster</li>
              <li>Don't be like the rest of them, darling.</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="footer">
        <div class="footer-content">
          <p>caption-bae-web 2018</p>
        </div>
      </div>
    </div>
  </body>
</html>
